{% extends 'base.html.twig' %}

{% block title %}Hello DevisCreerController!{% endblock %}
{% block content %}
<h1>Votre devis a bien été créé ! </h1>

<a href="{{ path('app_mes_devis') }}">Pour accéder a vos devis, cliquez ici </a>

<a href="{{ path('app_accueil') }}">Retour à l'accueil</a>


{% endblock %}
