{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block content %}
    <h1>Créer un nouveau Devis</h1>

    {{ include('devis_crud/_form.html.twig') }}

    <a href="{{ path('app_devis_crud_index') }}">Retour à la liste</a>
{% endblock %}
