{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block content %}
    <div class="example-wrapper1">
        <h1>LE P'TIT JARDINIER ✅</h1>
        <h2>Des professionnels à votre service !</h2>
        <a href="{{ path ('app_choix') }}">Obtenir un devis en ligne pour une taile de haie</a>
    </div>
{% endblock %}
